<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @score.value %>
</p>

<p>
  <strong>Level:</strong>
  <%= @score.level %>
</p>

<p>
  <strong>User:</strong>
  <%= @score.user %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
