<div class="col s6 offset-s3 center">
  <%= form_with(model: level, local: true) do |form| %>
    <div class="input-field">
      <i class="material-icons prefix">info</i>
      <%= form.label :name %>
      <%= form.text_field :name, id: :level_name %>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">code</i>
      <%= form.label :code %>
      <%= form.text_area :code, id: :level_code, class: 'materialize-textarea' %>
    </div>

    <div class="input-field">
      <%= form.submit "#{button_title} level", class: 'waves-effect waves-light btn' %>
    </div>
  <% end %>
</div>
