<% provide(:title, 'Levels') %>

<div class="col s8 offset-s2">
  <% if @levels.empty? %>
    <h2>There are no available levels ... :(</h2>
    <h3>Be the first to <%= link_to 'add one', new_level_path %></h3>
  <% else %>
    <ul class="collection with-header">
      <li class="collection-header"><h4>Levels</h4></li>
      <% @levels.each do |level| %>
        <li class="collection-item avatar">
          <span class="title">Level #<%= level.id%> - "<%= level.name %>"</span>
          <p class="grey-text">by <%= level.user.email %></p>

          <a href="<%= play_path(level) %>" class="secondary-content"><i class="medium material-icons">play_circle_filled</i></a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
