<% provide(:title, 'Levels') %>

<div class="col s6 offset-s3">
  <% if @levels.empty? %>
    <h2>There are no available levels ... :(</h2>
    <h3>Be the first to <%= link_to 'add one', new_level_path %></h3>
  <% else %>
    <ul class="collection with-header">
      <li class="collection-header center">
        <h4>Levels</h4>
      </li>
      <% @levels.each do |level| %>
        <li class="collection-item avatar">
          <a href="<%= level_path(level) %>" class="title"><strong>Level #<%= level.id %></strong></a>
          <p><span class="grey-text">Name:</span> "<%= level.name %>"</p>
          <p><span class="grey-text">Author:</span> <%= level.user.email %></p>
          <a href="<%= play_path(level) %>" class="secondary-content"><i class="material-icons medium">play_circle_filled</i></a>
        <li>
      <% end %>
    </ul>
     <div class="fixed-action-btn">
      <a href="<%= new_level_path %>"class="btn waves-effect btn-floating btn-large">
        <i class="large material-icons">add</i>
      </a>
    </div>
  <% end %>
</div>
