<% provide(:title, "Level \"#{@level.name}\"") %>

<div class="col s8 offset-s2">
  <%= render 'level_heading' %>

  <% if current_user == @level.user %>
    <%= link_to 'Edit', edit_level_path(@level), class: 'waves-effect waves-light btn' %>
    <%= link_to 'Delete', @level, class: 'waves-effect waves-light btn', method: :delete %>
  <% end %>

  <h5>Source code:</h5>
  <blockquote class="level-content">
    <pre><code class="language-markup"><%= @level.code %></code></pre>
  </blockquote>

  <div class="center-align">
    <a href="<%= play_path(@level) %>" class="waves-effect waves-light btn-large"><i class="material-icons right">play_circle_outline</i>Play</a>
  </div>

  <br>

  <div class="center-align">
    <a href="<%= level_scores_path(@level) %>" class="waves-effect waves-light btn-large"><i class="material-icons right">info_outline</i>Leaderboard</a>
  </div>
</div>
