<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @level.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @level.code %>
</p>

<p>
  <strong>User:</strong>
  <%= @level.user %>
</p>

<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
